#projects {
  color: #4e4e4e;
}

#projects h2 {
  color: black;
}

#projects .projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  #projects .projects-container {
    grid-template-columns: 1fr;
  }
}

#projects .project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px #4e4e4e;
  border-radius: 1.5rem;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

#projects .project > img {
  border-radius: 1rem;
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center;
}

#projects h3 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0;
}

#projects .tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 3rem;
}

#projects .tech {
  font-size: 0.8rem;
  border: solid 1px #4e4e4e;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
}

#projects .links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

#projects .link {
  display: flex;
  align-items: center;
  background-color: #4e4e4e;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  text-decoration: none;
}

#projects .link p {
  font-weight: 600;
  color: #ffffe4;
  margin: 0;
}

#projects .link img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
