footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 5rem;
  margin-bottom: 5rem;
  gap: 20px;
}

footer .texts p {
  color: #4e4e4e;
  margin: 0;
}

footer .icon img {
  width: 30px;
  height: 30px;
}

footer .contacts {
  display: flex;
  gap: 50px;
  /* margin-top: 10px; */
}
