.nav-text {
  font-size: 1.5rem;
  color: #4e4e4e;
  text-decoration: none;
  margin-right: 1rem;
}

header {
  position: sticky;
  background-color: rgb(255, 255, 228, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(20px);
  top: 0;
  width: calc(100% - 6rem);
  padding: 1.5rem 5rem 1rem 5rem;
  margin-bottom: 2rem;
  display: flex;
}
